<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>
    
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        
    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
     <script src="//code.jquery.com/jquery.min.js"></script>
    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
        
    
</head>
<body>
<!--Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
$(function(){
  $("#nav-placeholder").load("navbar.html");
});
</script>
<!--end of Navigation bar-->




  <div class="main">
    <div class="topspace"></div>
    <div class="body-text">
      <div class="title">Contact Us</div>
      <p style ="font-size: xx-large;">Phone : 88776368</p>
      <p style ="font-size: xx-large;">Email : SGPetStore@gmail.com</p>
      <p style ="font-size: xx-large;">Whatapp :<a href= "shorturl.at/cpsCL"> Click to whatapp us</a></p>
       </div>
    </div> 
 <div class ="centerbody">  
     <h1>SG PET STORE</h1>
         <div class ="centerbody">  
    We are a pet shop Singapore that sells puppies. We are partners with the most experienced professional breeders and trainers in Singapore and the USA. These are responsible breeders who work for the love of dogs. We have hard-working personnel and the most complete facilities in Singapore. We can boast of the quality of our dogs and the quality of our services.
    </div><br>
    <div class= "acenter"><img src= "static/dogs/small.jpg",  width="450" height="500"></div>
     <div class ="centerbody">  
    Feel free to contact us. Ask your questions about your new pet, and seek some advice on his training, food, and exercise regimen. We would be glad to prepare you for the new family member that you will be taking home with you. We want you to enjoy having a good pet and we want to be sure that your new pet will have a comfortable life with you.
</div>
    </div>
    <br>
    
<div class = "footer">
    <div class ="title">MOST POPULAR PET</div>
       <a href="dogs.html"><img src="static/dogs/Dachshund2.jpg"></a>
       <a href="cats.html"><img src="static/dogs/golden retriever2.jpg"></a>
       <a href="dogs.html"><img src="static/dogs/labrador retriever2.jpg"></a>

</div>

  </div>
</body>
</html>

 <!-- JavaScript Libraries -->
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
 <script src="/static/lib/easing/easing.min.js"></script>
 <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
 <script src="/static/lib/waypoints/waypoints.min.js"></script>
 <script src="/static/lib/counterup/counterup.min.js"></script>
 
 <!-- Contact Javascript File -->
 <script src="/static/mail/jqBootstrapValidation.min.js"></script>
 <script src="/static/mail/contact.js"></script>

 <!-- Template Javascript -->
 <script src="/static/js/main.js"></script>
