<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Your Cat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
     <script src="//code.jquery.com/jquery.min.js"></script>
    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">


    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>
</head>
{% extends "navbarfooter.html" %}
{% set active_page = "cats" %}
{% block content %}
<body>

  		 <div class="section-header text-center" style="padding-top:2%">
                  <p>Choose Your Cat</p>
                  <h2>Cats Available</h2>
				  
              </div>
			  
			  
			     {% for item in result %}
    <div class="about">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                  <div class="about-img">
                  <img src="{{ url_for('static', filename='petstoreanimal/' + item[2] + '.jpg')}}">

                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="section-header text-left">
                      <p>Pet Information</p>
                      <h2>{{item[2]}}</h2>
                  </div>
                  <div class="about-content">
                      <p>
          
                      <ul>
					   <li><i class="fas fa-home"></i> <b>Pet Store:</b> {{item[1]|safe}}</li>
                      <li><i class="fas fa-venus-mars"></i> <b>Gender:</b> {{item[4]|safe}}</li>
                      <li><i class="fas fa-birthday-cake"></i> <b>Date Of Birth: </b>{{item[3]|safe}}</li>
					  <li><i class="fas fa-dollar-sign"></i> <b>Price: </b>${{item[7]|safe}}</li>
					  <li><i class="fas fa-phone"></i> <b>Contact Us: </b>{{item[11]|safe}}</li>
					  <li><i class="fas fa-envelope"></i> <b>Email Us: </b>{{item[12]|safe}}</li>
					   <li><i class="fas fa-map-marked-alt"></i> <b>Find Us: </b>{{item[10]|safe}}</li>
                      <button class="btn btn-custom" onclick="location.href='/{{item[1]}}/buydog/{{item[2]}}'"  type="button">Buy Now!</button>

                      </ul>
             
                  </div>
              </div>
          </div>
      </div>
  </div> 
	{% endfor %}
<!--
    <div class="main">
        <div class="topspace"></div>
        <h2>Choose your Cat here !</h2>
      <div class="container2">
      {% for item in result %}
        <div class="anchor"><a href="/{{item[1]}}/buycat/{{item[2]}}">
        <img src="{{ url_for('static', filename='petstoreanimal/' + item[2] + '.jpg')}}">
        <p style="font-size: 20px;">{{item[2]}}</p>
        <p style="font-size: 20px;">Pet Store : {{item[1]}}</p>
        <p>Gender : {{item[4]}}</p>
        <p>Date of Birth : {{item[3]}}</p>
        <p>Price : ${{item[7]}}</p>
        <p>Contact Us : {{item[11]}}</p>
        <p>Email Us : {{item[12]}}</p>
        <p>Find Us :<br> {{item[10]}}</p>
        </a></div>
    {% endfor %}
        </div>
-->
                {% endblock %}
</body>
</html>

 <!-- JavaScript Libraries -->
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
 <script src="/static/lib/easing/easing.min.js"></script>
 <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
 <script src="/static/lib/waypoints/waypoints.min.js"></script>
 <script src="/static/lib/counterup/counterup.min.js"></script>

 <!-- Contact Javascript File -->
 <script src="/static/mail/jqBootstrapValidation.min.js"></script>
 <script src="/static/mail/contact.js"></script>

 <!-- Template Javascript -->
 <script src="/static/js/main.js"></script>