<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Breed</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>
</head>
<body>
  <nav>
    <div class="wrapper">
      <div class="logo"><a href={{url_for('home')}}>SG CATS & DOGS</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="bttn close-btn"><i class="fas fa-times"></i></label>
        <li><a href={{url_for('home')}}>Home</a></li>
        <li><a href={{url_for('about')}}>About</a></li>
        <li>
          <a href={{url_for('dogs')}} class="desktop-item">Dogs</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dogs</label>
          <ul class="drop-menu">
            <li><a href="{{url_for('dogs')}}#hdb">HDB Approved</a></li>
            <li><a href="{{url_for('dogs')}}#small">Small Breed</a></li>
            <li><a href="{{url_for('dogs')}}#large">Large Breed</a></li>
          </ul>
        </li>
        <li><a href={{url_for('cats')}}>Cats</a></li>
        <li>
          <a href="#" class="desktop-item">Know Your Breed</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Know Your Breed</label>
          <ul class="drop-menu">
            <li><a href={{url_for('dogclassify')}}>Know Your Dog</a></li>
            <li><a href={{url_for('catclassify')}}>Know Your Cat</a></li>
          </ul>
        </li>
        <li><a href={{url_for('doodle')}}>Doodle Game</a></li>
      </ul>
      <label for="menu-btn" class="bttn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  <div class="main">
    <div>
      <div class="topspace"></div>
      {% for item in result %}
      <h1 style="padding: 0px; font:bold 5.5vw/1.6 'Signika', sans-serif;">{{item[0]|safe}}</h1>
      <div class="breedhighlight">
        <div style="text-align: justify;">
          <h3 style="text-align: left; font-size: 30px;">{{item[0]|safe}}'s Description</h3>
          <p>Average Lifespan: {{item[1]|safe}}</p>
          <p>{{item[3]|safe}}</p>
        </div>
        <img src="{{url_for('static', filename='cats/'+img+'1.jpg')}}" width="400px"/>
      </div>
      <div class="breedhighlight">
        <img src="{{url_for('static', filename='cats/'+img+'2.jpg')}}" width="400px"/>
        <div style="text-align: justify;">
          <h3 style="text-align: left; font-size: 30px;">{{item[0]|safe}}'s Characteristic</h3>
          <p>{{item[4]|safe}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>