<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Breed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

   <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>

   <link href="/static/img/favicon.ico" rel="icon">

   <!-- Google Font -->
   <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 

   <!-- CSS Libraries -->
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
   <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet">
   <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
   <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery.min.js"></script>
   <!-- Template Stylesheet -->
   <link href="/static/css/style.css" rel="stylesheet">


    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>
</head>


<body>

<div id="include"></div>

 <script>
        window.onload = function(){
            $.get("inc.html", function(data){
                $("#nav-placeholder").html(data);
            })
        }
    </script>

  <div class="main">

<div id="navbar"></div>

    <div>
      <div class="topspace"></div>
      {% for item in result %}
      	 <div class="section-header text-center" style="padding-top:2%">
                    <p>Know Your Dog</p>
                    <h2>{{item[0]|safe}}</h2>
                </div>
                
  <div class="about">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                  <div class="about-img">
                  <img src="{{url_for('static', filename='dogs/'+img+'1.jpg')}}" width="400px"/>

                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="section-header text-left">
                      <p>Information</p>
                      <h2>Description</h2>
                  </div>
                  <div class="about-content">
                      <p>
                      {{item[3]|safe}}
                      <ul>
                      <li><i class="fas fa-paw"></i> Average Life Span: {{item[1]|safe}}</li>
                      <li><i class="fas fa-paw"></i> Size: {{item[2]|safe}}</li>
                      <button class="btn btn-custom" onclick="location.href='{{url_for('buydog', name = item[0])}}'"  type="button">Buy Now!</button>

                      </ul>
             
                  </div>
              </div>
          </div>
      </div>
  </div> 
  
   <div class="about">
       <div class="container">
           <div class="row align-items-center">
               <div class="col-lg-6">
               
                 <div class="section-header text-left">
                     <p>Information</p>
                     <h2>Characteristics</h2>
                 </div>
                 <div class="about-content">
                     <p>
                    {{item[4]|safe}}
                 </div>

                   </div>
                       <div class="col-lg-6">
                       <div class="about-img">
                       <img src="{{url_for('static', filename='dogs/'+img+'2.jpg')}}" width="400px"/>

                       </div>
                
                   </div>
               </div>
              
           
       </div>
   </div>                  
                
  		<!-- OLD CODE	  
      <h1 style="padding: 0px; font:bold 5.5vw/1.6 'Signika', sans-serif;">{{item[0]|safe}}</h1>
      <div class="breedhighlight">
        <div style="text-align: justify;">
          <h3 style="text-align: left; font-size: 30px;">{{item[0]|safe}}'s Description</h3>
          <p>Average Lifespan: {{item[1]|safe}}</p>
          <p>Size: {{item[2]|safe}}</p><br>
          <p>{{item[3]|safe}}</p>
          <button type="button"><a href={{url_for('buydog', name = item[0])}}>Buy here!</button></a>
        </div>
        <img src="{{url_for('static', filename='dogs/'+img+'1.jpg')}}" width="400px"/>
      </div>
      <div class="breedhighlight">
        <img src="{{url_for('static', filename='dogs/'+img+'2.jpg')}}" width="400px"/>
        <div style="text-align: justify;">
          <h3 style="text-align: left; font-size: 30px;">{{item[0]|safe}}'s Characteristic</h3>
          <p>{{item[4]|safe}}</p>
        </div>
      </div>
      !-->
      {% endfor %}
    </div>
  </div>

</body>
<div id="footer-placeholder">

</div>

<script>
$(function(){
  $("#footer-placeholder").load("footer.html");
});
</script>
<!--end of Navigation bar-->
  <script type="text/javascript">
    $(document).ready(function() {
        $("#navbar").load("navbar.html"); 
    });
</script>

 <!-- JavaScript Libraries -->
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
 <script src="/static/lib/easing/easing.min.js"></script>
 <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
 <script src="/static/lib/waypoints/waypoints.min.js"></script>
 <script src="/static/lib/counterup/counterup.min.js"></script>

 <!-- Contact Javascript File -->
 <script src="/static/mail/jqBootstrapValidation.min.js"></script>
 <script src="/static/mail/contact.js"></script>

 <!-- Template Javascript -->
 <script src="/static/js/main.js"></script>

</html>