<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know Your Dog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	
    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>

    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
     <script src="//code.jquery.com/jquery.min.js"></script>
    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
	
	
    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>
</head>
<script>
  function playAudio() {
    var audioFile = new Audio('static/dogsound.mp3?' + new Date().getTime());
    audioFile.play()
    }
</script>


{% extends "navbarfooter.html" %}
{% set active_page = "dogclassify" %}
{% block content %}


<body>


    <div style="justify-content: center;" class="main">
	
		 <div class="section-header text-center" style="padding-top:2%">
                  <p>Know Your Dog</p>
                  <h2>Upload a picture of your dog</h2>
              </div>
			  
	
	
		   <form class="p-3 text-center upload" action='/dogclassify.html', method="post" enctype="multipart/form-data" onsubmit="loading();">
		<div class="input-group mb-3">
     <input class="form-control"  type ="file" name="imagefile">
	 			
    <div >
         	 	
			
     </div>
	
		</div>

		 <input onclick="$('#loading').show();$('#submitButton').hide();$('#dogLoading').show();" class="btn btn-custom" id="submitButton" type="submit" value="Predict Image">
		  <div id="loading" style="display:none;">
		 
            <img src="static/img/loadingdog.gif" alt="" />	

			</div>
			<span id="dogLoading" style="display:none;position:absolute;left:0;right:0;margin-left: auto;margin-right:0;text-align:center;">Loading . . .</span>

			</form>
           

			
			   <div id="loader"></div>

			<div class="about">
				    {% if img_path %}
				{% for item in description %}
           <div class="container">
               <div class="row align-items-center">
                   <div class="col-lg-6">
                       <div class="about-img">
                           <img src="data:image/png;base64,{{ img_path }}" width ="500px">
                       </div>
                   </div>
                   <div class="col-lg-6">
                       <div class="section-header text-left">
                           <p>Dog Breed</p>
                           <h2>{{item[0]|safe}}</h2>
                       </div>
					   <div>
					     <script>playAudio()</script>
						 <button class="btn btn-custom" type="button" value="sound" class="btn btn-secondary" onclick="playAudio()" id="playbutton">Play Sound Again</button>
						 </br>
						 </br>
					   </div>
                       <div class="about-content">
                           <p> {{item[1]|safe}}</p>
                           <ul>
                               <li><i class="fas fa-paw"></i> <b>Average Life Span:</b> {{item[2]|safe}}</li>
                              
                           </ul>
						         <button class="btn btn-custom" onclick="location.href='dogs/{{item[0]}}'" href="dogs/{{item[0]}}">Discover More</button>
								 <button class="btn btn-custom" onclick="location.href='dogs/buyheredog/{{item[0]}}'" href="dogs/buyheredog/{{item[0]}}" type="button">View Availability</button>
                       </div>
                   </div>
               </div>
           </div>
		           {% endfor %}
        {% endif %} 
       </div>
	   



				<div class="about">
					   {% if noyolo %}
					   {% for item in description %}
           <div class="container">
               <div class="row align-items-center">
                   <div class="col-lg-6">
                       <div class="about-img">
                           <img src="{{ noyolo }}" width ="500px">
                       </div>
                   </div>
                   <div class="col-lg-6">
                       <div class="section-header text-left">
                           <p>Dog Breed</p>
                           <h2>{{item[0]|safe}}</h2>
                       </div>
					   <div >
					     <script>playAudio()</script>
						 <button class="btn btn-custom" type="button" value="sound" class="btn btn-secondary" onclick="playAudio()" id="playbutton">Play Sound Again</button>
						 </br>
						 </br>
					   </div>
                       <div class="about-content">
                           <p> {{item[1]|safe}}</p>
                           <ul>
                               <li><i class="fas fa-paw"></i><b> Average Life Span:</b> {{item[2]|safe}}</li>
                              
                           </ul>
								<button class="btn btn-custom" onclick="location.href='dogs/{{item[0]}}'" href="dogs/{{item[0]}}">Discover More</button>
								 <button class="btn btn-custom" onclick="location.href='dogs/buyheredog/{{item[0]}}'" href="dogs/buyheredog/{{item[0]}}" type="button">View Availability</button>
                       </div>
                   </div>
               </div>
			   	   {% endfor %}
		   {% endif %} 
           </div>
		   
	
		   
		  
		   
		
		   
        <!-- <div id="loading"></div> -->
		
		<!--

        <div id="loader"></div>
        {% if img_path %}
        {% for item in description %}
		
        <div class="breedhighlight" id="content">
          <img src="data:image/png;base64,{{ img_path }}" width ="500px">
          
          <div style="text-align: justify;">
            <h3 style="text-align: left; font-size: 30px;">{{item[0]|safe}}</h3>
            <!-- <audio controls autoplay><source src="static/dogsound.mp3" type="audio/mp3"></audio> 
			
			
            <script>playAudio()</script>
            <button type="button" value="sound" class="btn btn-secondary" onclick="playAudio()" id="playbutton">Play Sound Again</button>
            <p><strong>Description: </strong><br>{{item[1]|safe}}</p>
            <p><strong>Average Life Span: </strong>{{item[2]|safe}}</p><br>
            <p>More info at this <a href="dog/{{item[0]}}">page</a></p>
            <button type="button"><a href="buyheredog/dog/{{item[0]}}">Buy here!</button></a>

          </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if noyolo %}
        {% for item in description %}
        <div class="breedhighlight" id="content">
          <img src="{{ noyolo }}" width ="500px">
          
          <div style="text-align: justify;">
            <h3 style="text-align: left; font-size: 30px;">{{item[0]|safe}}</h3>
            <!-- <audio controls autoplay><source src="static/dogsound.mp3" type="audio/mp3"></audio> 
            <script>playAudio()</script>
            <button type="button" value="sound" class="btn btn-secondary" onclick="playAudio()" id="playbutton">Play Sound Again</button>
            <p><strong>Description: </strong><br>{{item[1]|safe}}</p>
            <p><strong>Average Life Span: </strong>{{item[2]|safe}}</p><br>
            <p>More info at this <a href="dog/{{item[0]}}">page</a></p>
            <button type="button"><a href="buyheredog/dog/{{item[0]}}">Buy here!</button></a>
          </div>
        </div>
        {% endfor %}
        {% endif %} 
    </div> 
  
  -->
  <script type="text/javascript">// <![CDATA[
    function loading(){
      document.getElementById("loader").style.display = "block";  
      document.getElementById("content").style.display = "none";  
    }
    
  // ]]></script>    
{% endblock %}
</body>

</div>



<!--end of Navigation bar-->

</html>

 <!-- JavaScript Libraries -->
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
 <script src="/static/lib/easing/easing.min.js"></script>
 <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
 <script src="/static/lib/waypoints/waypoints.min.js"></script>
 <script src="/static/lib/counterup/counterup.min.js"></script>

 <!-- Contact Javascript File -->
 <script src="/static/mail/jqBootstrapValidation.min.js"></script>
 <script src="/static/mail/contact.js"></script>

 <!-- Template Javascript -->
 <script src="/static/js/main.js"></script>

</html>