<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know Your Dog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>
</head>
<body>
  <nav>
    <div class="wrapper">
      <div class="logo"><a href={{url_for('home')}}>SG CATS & DOGS</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="bttn close-btn"><i class="fas fa-times"></i></label>
        <li><a href={{url_for('home')}}>Home</a></li>
        <li><a href={{url_for('about')}}>About</a></li>
        <li>
          <a href={{url_for('dogs')}} class="desktop-item">Dogs</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dogs</label>
          <ul class="drop-menu">
            <li><a href="{{url_for('dogs')}}#hdb">HDB Approved</a></li>
            <li><a href="{{url_for('dogs')}}#small">Small Breed</a></li>
            <li><a href="{{url_for('dogs')}}#large">Large Breed</a></li>
          </ul>
        </li>
        <li><a href={{url_for('cats')}}>Cats</a></li>
        <li>
          <a href="#" class="desktop-item">Know Your Breed</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Know Your Breed</label>
          <ul class="drop-menu">
            <li><a href={{url_for('dogclassify')}}>Know Your Dog</a></li>
            <li><a href={{url_for('catclassify')}}>Know Your Cat</a></li>
          </ul>
        </li>
        <li><a href={{url_for('doodle')}}>Doodle Game</a></li>
      </ul>
      <label for="menu-btn" class="bttn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
    <div class="main">
        <h1><span>K</span><span>N</span><span>O</span><span>W</span><span> </span><span>Y</span><span>O</span><span>U</span><span>R</span><span> </span><span>D</span><span>O</span><span>G</span><span>!</span></h1>
        <h2>Upload a picture of your dog and we'll tell you what breed it is!</h2>
        <form class="p-3 text-center upload" action='/dogclassify.html', method="post" enctype="multipart/form-data" onsubmit="loading();">
            <input class="form-control" type ="file" name="imagefile">
            <input class="btn btn-outline-primary" type="submit" value="Predict Image">
        </form>
        <!-- <div id="loading"></div> -->
        <div id="loader"></div>
        {% if img_path %}
        {% for item in description %}
        <div class="breedhighlight" id="content">
          <img src="data:image/png;base64,{{ img_path }}" width ="500px">
          
          <div style="text-align: justify;">
            <h3 style="text-align: left; font-size: 30px;">{{item[0]|safe}}</h3>
            <audio controls autoplay><source src="static/dogsound.mp3" type="audio/mp3"></audio>
            <p><strong>Description: </strong><br>{{item[1]|safe}}</p>
            <p><strong>Average Life Span: </strong>{{item[2]|safe}}</p><br>
            <p>More info at this <a href="dog/{{item[0]}}">page</a></p>
            <button type="button"><a href="buyheredog/dog/{{item[0]}}">Buy here!</button></a>

          </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if noyolo %}
        {% for item in description %}
        <div class="breedhighlight" id="content">
          <img src="{{ noyolo }}" width ="500px">
          
          <div style="text-align: justify;">
            <h3 style="text-align: left; font-size: 30px;">{{item[0]|safe}}</h3>
            <audio controls autoplay><source src="static/dogsound.mp3" type="audio/mp3"></audio>
            <p><strong>Description: </strong><br>{{item[1]|safe}}</p>
            <p><strong>Average Life Span: </strong>{{item[2]|safe}}</p><br>
            <p>More info at this <a href="dog/{{item[0]}}">page</a></p>
            <button type="button"><a href="buyheredog/dog/{{item[0]}}">Buy here!</button></a>
          </div>
        </div>
        {% endfor %}
        {% endif %} 
    </div> 
  
  <script type="text/javascript">// <![CDATA[
    function loading(){
      document.getElementById("loader").style.display = "block";  
      document.getElementById("content").style.display = "none";  
    }
  // ]]></script>    
</body>
</html>