<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singapore Cats & Dogs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>
</head>
<body>
  <nav>
    <div class="wrapper">
      <div class="logo"><a href={{url_for('home')}}>SG CATS & DOGS</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="bttn close-btn"><i class="fas fa-times"></i></label>
        <li><a href={{url_for('home')}}>Home</a></li>
        <li><a href={{url_for('about')}}>About</a></li>
        <li>
          <a href={{url_for('dogs')}} class="desktop-item">Dogs</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dogs</label>
          <ul class="drop-menu">
            <li><a href="{{url_for('dogs')}}#hdb">HDB Approved</a></li>
            <li><a href="{{url_for('dogs')}}#small">Small Breed</a></li>
            <li><a href="{{url_for('dogs')}}#large">Large Breed</a></li>
          </ul>
        </li>
        <li><a href={{url_for('cats')}}>Cats</a></li>
        <li>
          <a href="#" class="desktop-item">Know Your Breed</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Know Your Breed</label>
          <ul class="drop-menu">
            <li><a href={{url_for('dogclassify')}}>Know Your Dog</a></li>
            <li><a href={{url_for('catclassify')}}>Know Your Cat</a></li>
          </ul>
        </li>
        <li><a href={{url_for('doodle')}}>Doodle Game</a></li>
      </ul>
      <label for="menu-btn" class="bttn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  <div class="main">
    <div class="topspace"></div>
    <div class="body-text">
      <div class="title">Learn about the various cat and dog breeds in Singapore</div>
      <div class="sub-title">Find your preferred cat or dog breed.</div>
    </div>
    <h3 class="dogsh3">Are you looking for a Cat or a Dog?</h3>
    <div class="container1">
      <div class="anchor"><a href="dogs.html"><img src="{{ url_for('static', filename='dogs/large.jpg')}}"><p style="font-size: 40px;"><strong>Dogs</strong></p><p class="examples">HDB Approved, Small, Large
        </p></a></div>
      <div class="anchor"><a href="cats.html"><img src="{{ url_for('static', filename='cats/cat.jpg')}}"><p style="font-size: 40px;"><strong>Cats</strong></p><p class="examples">Cat species...
        </p></a></div>
    </div>
  </div>
</body>
</html>
