<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetHeaven</title>
	

        <link href="/static/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        
        <!-- Template Stylesheet -->
        <link href="/static/css/style.css" rel="stylesheet">
        
        



	</script>
</head>
{% extends "navbarfooter.html" %}
{% set active_page = "index" %}
{% block content %}
<body>

  

  

  
      
    
  
 
  <div>


        
    <div style="width: 100%;">
    
    
    <div   class="carousel">
        <div style="max-width: 100%;height: auto;min-height: 100%;"  class="container-fluid">
            <div  class="owl-carousel">
                <div  class="carousel-item">
                    <div  class="carousel-img">
                        <img  src="/static/img/carousel-1.png" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h3>Loving Home for Pets</h3>
                        <h1> The Right Preference for Pet Owner</h1>
                        <p>
                          Discover a breed that would be a perfect fit for your home.
                        </p>
                        <a class="btn btn-custom" href={{url_for('about')}}>Explore More</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div  class="carousel-img">
                        <img src="/static/img/carousel-2.png" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h3>Loving Home for Pets</h3>
                        <h1>Quality service for you</h1>
                        <p>
                           We only provide the best service to our customer.
                        </p>
                        <a class="btn btn-custom" href={{url_for('about')}}>Explore More</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="/static/img/carousel-3.png" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h3>Loving Home for Pets</h3>
                        <h1>The Best Breeds Right Here </h1>
                        <p>
                            Through our partnership, discover a wide variety of breeds available.
                        </p>
                        <a class="btn btn-custom" href={{url_for('about')}}>Explore More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      <!-- Team Start -->
      <div class="team">
          <div class="container">
              <div class="section-header text-center">
                  <p>Pet Breed Discovery</p>
                  <h2>Dogs & Cats</h2>
              </div>
              
              <div class="row justify-content-start">
             
                  <div onclick="location.href='dogs.html';" class="col">
                      <div class="team-item">
                          <div class="team-img">
                              <img src="/static/img/dogSelection.png" alt="Team Image">
                          </div>
                          <div  class="team-text">
                              <h2>Dogs</h2>
                              <p>Faithful & Playful</p>
                          </div>
                      </div>
                  </div>
                
            
                 <div onclick="location.href='cats.html';" class="col">
                      <div class="team-item">
                          <div class="team-img">
                              <img src="/static/img/catSelection_adobespark.png" alt="Team Image">
                          </div>
                          <div  class="team-text">
                              <h2 href="cats.html">Cats</h2>
                              <p>Affectionate & Agile</p>
                     
                          </div>
                      </div>
                  </div>
               
    
              </div>
          </div>
      </div>
      <!-- Team End -->
    
 
    </div>
  </div>
</body>
</html>
    
        <!-- Testimonial Start -->
        <div class="testimonial">
            <div class="container">
                <div class="section-header text-center">
                    <p>Testimonial</p>
                    <h2>What our clients say</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <img src="/static/img/testimonial-1.jpg" alt="Image">
                        <div class="testimonial-text">
                            <h3>Terrence</h3>
                            <h4>Partner</h4>
                            <p>
                             We developed a great partnership with PetHeaven. We appreciate their proffessional service and creative approach in creating a new channel for us to gain exposure.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="/static/img/testimonial-2.jpg" alt="Image">
                        <div class="testimonial-text">
                            <h3>Rachel</h3>
                            <h4>Satisfied Customer</h4>
                            <p>
                              Our child has difficulty telling us the kind of cat he wants  because of his autism. But through your website he is able to learn the breeds available through the images he uploads. Thanks to you he is very happy with his new cat!
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="/static/img/testimonial-3.jpg" alt="Image">
                        <div class="testimonial-text">
                            <h3>Michael Bryan</h3>
                            <h4>Satisfied Customer</h4>
                            <p>
                                Not only a petstore but also a good website for my children to learn and discover dog breeds. They spent their days uploading pictures and reading out the description out loud.
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="/static/img/testimonial-4.jpg" alt="Image">
                        <div class="testimonial-text">
                            <h3>Bryan Mike</h3>
                            <h4>Satisfied Customer</h4>
                            <p>
                               A great place not just for children to learn about breeds but a great place for clueless adults like myself to educate myself before purchasing my dog. Kuddos to the website!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

 {% endblock %}
  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/static/lib/waypoints/waypoints.min.js"></script>
  <script src="/static/lib/counterup/counterup.min.js"></script>
  
  <!-- Contact Javascript File -->
  <script src="/static/mail/jqBootstrapValidation.min.js"></script>
  <script src="/static/mail/contact.js"></script>

  <!-- Template Javascript -->
  <script src="/static/js/main.js"></script>
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


