<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Lovers Center</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css2.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css')}}">
    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>
</head>
<body>
<nav>               
    <div class="wrapper">
      <div class="logo"><a href={{url_for('PLCHome')}}>Pet Lovers Center</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="bttn close-btn"><i class="fas fa-times"></i></label>
        <li><a href={{url_for('PLCHome')}}>Home</a></li>
        <li><a href={{url_for('PLCContactUs')}}>Contact Us</a></li>
        <li>
          <a href={{url_for('PLCDogs')}} class="desktop-item">Dogs</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dogs</label>
          <ul class="drop-menu">
            <li><a href="{{url_for('PLCDogs')}}#hdb">HDB Approved</a></li>
            <li><a href="{{url_for('PLCDogs')}}#small">Small Breed</a></li>
            <li><a href="{{url_for('PLCDogs')}}#large">Large Breed</a></li>
          </ul>
        </li>
        <li><a href={{url_for('PLCCats')}}>Cats</a></li>
      </ul>
      <label for="menu-btn" class="bttn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  
  <div class="main">
    <div class="topspace"></div>
  
 <div class ="centerbody">  
     <h1>Pet Lovers Center</h1>
         <div class ="centerbody">  
All in one shop that sells you your preferred pet
    </div><br>
    <div class= "acenter"><img src= "static/dogs/small.jpg",  width="450" height="500"></div>
     <div class ="centerbody">  
<p>Pet Lovers Centre is a retail pet store that specializes in pet products and services. It is generally labelled as a pet care and a pet supply store. The company is also known as the largest pet store chain in South East Asia, currently at a total of 160 stores. 
</p><p>
The company’s mission statement is to offer pets and pet lovers quality products, highly accessible care as well as fun experience. This is clear from the brand having one of the widest and freshest range of products constantly available, rivalling online e-commerce platforms with their equally diverse number of products. 
</p><p>
Pet Lovers Centre is also constantly seeking to be Asia-Pacific’s (AP) market leader in pet care services, providing provisions from pet training, to daily consultation services, to even endorsing a professional dog bakery for fresh and healthy meals for dog owners. 
</p><p>
The purpose of this business case report is to establish costs and benefits of an implementation of a show-and-tell system for Pet Lovers Centre that enables the public to recognize animals at the shelter or anywhere they use the application for both education and operations purposes. This project utilizes machine learning with regards to image understanding, image processing and image annotation.
</p><p>
The results of costs and benefits that the team came up with enables the team to focus on the showcase of certain features of show-and-tell in order to assist in generating public awareness about animals and pet care in Singapore while boosting the brand recognition of Pet Lovers Centre.
</p><p>
The team will be creating and implementing an application that allows the user to upload any image of common animals around Singapore households, most notably cats and dogs. The application then showcases the image with an image annotation of the animal, as well as detailed information about it that comes with a text-to-speech function. 
</p>
</div>
    </div><br>
      <div class="body-text">
      <div class="title">Contact Us</div>
          {% for item in cat %}
      <p style ="font-size: xx-large;">Phone : {{item[2]}}</p>
      <p style ="font-size: xx-large;">Email : {{item[3]}}</p>
      <p style ="font-size: xx-large;">Address : {{item[1]}}</p>
       {% endfor %}

       </div>
    </div> 

  </div>
</body>
</html>
