<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css2.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css')}}">
    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>
</head>
<body>
<nav>               
    <div class="wrapper">
      <div class="logo"><a href={{url_for('PLCHome')}}>Pet Lovers Center</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="bttn close-btn"><i class="fas fa-times"></i></label>
        <li><a href={{url_for('PLCHome')}}>Home</a></li>
        <li><a href={{url_for('PLCContactUs')}}>Contact Us</a></li>
        <li>
          <a href={{url_for('PLCDogs')}} class="desktop-item">Dogs</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dogs</label>
          <ul class="drop-menu">
            <li><a href="{{url_for('PLCDogs')}}#hdb">HDB Approved</a></li>
            <li><a href="{{url_for('PLCDogs')}}#small">Small Breed</a></li>
            <li><a href="{{url_for('PLCDogs')}}#large">Large Breed</a></li>
          </ul>
        </li>
        <li><a href={{url_for('PLCCats')}}>Cats</a></li>
      </ul>
      <label for="menu-btn" class="bttn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  
  <div class="main">
    <div class="topspace"></div>
    <h3 class="dogsh3">Dogs for sale</h3>
    <div class="container1">
      <div class="anchor"><a href="#small"><img src="{{ url_for('static', filename='dogs/small.jpg')}}"><p style="font-size: 24px;"><strong>Small Breeds</strong></p><p class="examples">Maltese, Pomeranian, Corgi <br>
        Chihuahua, Japanese Splitz, Toy poodle…</p></a></div>
      <div class="anchor"><a href="#large"><img src="{{ url_for('static', filename='dogs/large.jpg')}}"><p style="font-size: 24px;"><strong>Large Breeds</strong></p><p class="examples">Golden Retriever, Siberian Husky. <br>
        Chow Chow, Schnauzer.</p></a></div>
      <div class="anchor"><a href="#hdb"><img src="{{ url_for('static', filename='dogs/hdb.jpg')}}"><p style="font-size: 24px;"><strong>HDB Approved</strong></p><p class="examples">Cavalier King Charles, Pug. <br>
        Shih Tzu, Yorkshire Terrier.</p></a></div>
    </div>
    
    <h3 class="dogsh3" id="small">Small Breeds</h3>
    <div class="container2">
        {% for item in small %}
        <div class="anchor"><a href="{{item[1]}}/buydog/{{item[2]}}"><img src="{{ url_for('static', filename='petstoreanimal/' + item[2] + '.jpg')}}"><p>{{item[2]}}</p><p style="font-size: 20px;">{{item[7]}}</p></a></div>
        {% endfor %}
    </div>
    <h3 class="dogsh3" id="large">Large Breeds</h3>
    <div class="container2">
        {% for item in large %}
        <div class="anchor"><a href="{{item[1]}}/buydog/{{item[2]}}"><img src="{{ url_for('static', filename='petstoreanimal/' + item[2] + '.jpg')}}"><p>{{item[2]}}</p><p style="font-size: 20px;">{{item[7]}}</p></a></div>
        {% endfor %}
    </div>
    <h3 class="dogsh3" id="hdb">HDB Approved</h3>
    <div class="container2">
        {% for item in hdb %}
        <div class="anchor"><a href="{{item[1]}}/buydog/{{item[2]}}"><img src="{{ url_for('static', filename='petstoreanimal/' + item[2] + '.jpg')}}"><p>{{item[2]}}</p><p style="font-size: 20px;">{{item[7]}}</p></a></div>
        {% endfor %}
    </div>
  </div>
</body>
</html>
