<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Loving Center</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css2.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css')}}">
    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>
</head>
<body>
<nav>               
    <div class="wrapper">
      <div class="logo"><a href={{url_for('PLCHome')}}>Pet Loving Center</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="bttn close-btn"><i class="fas fa-times"></i></label>
        <li><a href={{url_for('PLCHome')}}>Home</a></li>
        <li><a href={{url_for('PLCContactUs')}}>Contact Us</a></li>
        <li>
          <a href={{url_for('PLCDogs')}} class="desktop-item">Dogs</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dogs</label>
          <ul class="drop-menu">
            <li><a href="{{url_for('PLCDogs')}}#hdb">HDB Approved</a></li>
            <li><a href="{{url_for('PLCDogs')}}#small">Small Breed</a></li>
            <li><a href="{{url_for('PLCDogs')}}#large">Large Breed</a></li>
          </ul>
        </li>
        <li><a href={{url_for('PLCCats')}}>Cats</a></li>
      </ul>
      <label for="menu-btn" class="bttn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  <div class="main">
    <div class="topspace"></div>
    <div class="body-text">
      <div class="title">New Puppies and Cats For Sale in Pet Loving Center</div>
    </div>
    <h3 class="dogsh3">See all of our Dogs and Cat</h3>
    <div class="container1">
      <div class="anchor"><a href="PLCDogs.html"><img src="{{ url_for('static', filename='dogs/small.jpg')}}"><p style="font-size: 40px;"><strong>Dogs</strong></p><p class="examples">HDB Approved, Small, Large
        </p></a></div>
      <div class="anchor"><a href="PLCCats.html"><img src="{{ url_for('static', filename='cats/cat.jpg')}}"><p style="font-size: 40px;"><strong>Cats</strong></p><p class="examples">Cat species...
        </p></a></div>
    </div>
     
    <h3 class="dogsh3">Why Customers take puppy from us?</h3>
    <div class ="centerbody2">
We are practically Singapore’s most reliable pet store providing to customers various kinds of breeds including those of pomeranian, poodle (toy/miniature), Maltese, Schnauzer, Bichon Frise, chihuahua, jack russel, yorkshire terrier, shih tzu, pug, maltipoo, West Highland Terrier (Westie), Pomchi and other medium breeds such as Japanese Spitz, Shetland sheepdog, chow chow, shiba inu, French bulldog, corgi, beagle, cocker spaniel (American & English), Cockerpoo, among others.
Right here - potential buyers of pets in Singapore can easily browse through our website and find several choices of pets to choose from. Once you find what you need, you can instantly initiate a booking order and visit our location to inspect and take ownership of your choice pet.
As highly experienced and knowledgeable pet sellers and owners, we also provide valuable information and advice through our blog articles for potential pet owners so you can be well informed of various dog breeds, their characteristics, strengths and weaknesses. 
We have been in the business of selling puppies and dogs for years and we know the precise breed that suits a particular family, individual and lifestyle. This means we don’t just sell pets because we want to deal business; we discuss and connect with you so we know exactly what you desire and then let you have it – without stress or confusion.
Our services go beyond just sales of puppies in Singapore; we educate prospective dog owners! </h1>
    <h3 class="dogsh3">Contact Us</h3>
    {% for item in cat %}

    <p>Phone : {{item[2]}}</p>
    <p>Email : {{item[3]}}</p>
 {% endfor %}

  </div>
</body>
</html>
