<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET LOVING CENTER</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css2.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css')}}">
    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>
</head>
<body>
<nav>
    <div class="wrapper">
      <div class="logo"><a href="PLCIndex.html">PET LOVING CENTER</a></div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="bttn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="PLCIndex.html">Home</a></li>
        <li><a href="PLCContactUs.html">Contact Us</a></li>
        <li>
          <a href="PLCDogs.html" class="desktop-item">Dogs</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dogs</label>
          <ul class="drop-menu">
            <li><a href="PLCDogs.html#hdb">HDB Approved</a></li>
            <li><a href="PLCDogs.html#small">Small Breed</a></li>
            <li><a href="PLCDogs.html#large">Large Breed</a></li>
          </ul>
        </li>
        <li><a href="PLCCats.html">Cats</a></li>
      </ul>
      <label for="menu-btn" class="bttn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>
  
  <div class="main">
    <div class="topspace"></div>
    <div class="body-text">
      <div class="title">PLEASE BOOK VIA WHATAPP FOR VIEWING APPOINTMENT AS WE SEEK TO MINIMIZE CROWDS</div>
   <div class = "footer">
    <div class ="title">MOST POPULAR PET</div>
       <a href="dogs.html"><img src="static/dogs/Dachshund2.jpg"></a>
       <a href="cats.html"><img src="static/dogs/golden retriever2.jpg"></a>
       <a href="dogs.html"><img src="static/dogs/labrador retriever2.jpg"></a>
    </div>
      
          <h3 class="dogsh3">Contact Us</h3>
    <p>Phone : 97336357</p>
    <p>Email : PLC@gmail.com</p>
    </div>

    <h3 class="dogsh3">Going Beyond Grooming</h3>
    <div class ="centerbody2">
<p>The traditional perception of a pet shop or a grooming salon used to be that of a place where the dogs are bathed, dried and cleaned. That's it. We go beyond that. </p>

<p>We strive to educate and enlightened every customer that walks into our shop. If there is a suggestion for the dog/cat owner on how to enhance their furry kids' health and well-being, we do it honestly. Because we know that taking care of a mammalian being (dogs and cats) is complex. And the plethora of information and misinformation on what to do, what to buy, is just too overwhelming for the pet owner. Most of the information are NOT tested, and driven by sensation rather than facts.</p>

<p>We have a vision in setting out to give our tender loving care for our customers' pets. They are not just animals nor just pets. We know your pets are important members of the family. And hence they should be treated with love and respect.</p>

<p>As you can see by testimonials that customers sent to us and the success stories of their skin problems getting solved, we are like a skin centre and a pet consultant acting as a salon and a pet shop.</h1></p>

 <h3 class="dogsh3">Going Beyond Selling Puppies</h3>
    <div class ="centerbody2">
<p>Our love for animals make our hearts ache whenever we see and hear real stories and first-hand accounts of puppies sold in horrendous conditions. These puppies are caged up and isolated individually into tiny shelves, not fed adequately, not given clean water... Not loved by the puppy seller at all. Some of the puppies have skin problems, ended up sick physically and mentally after the purchase and a few died. That is very sad. Those events are sad.</p>

<p>We wanna do good. The adoption movement by Non-Profit organisations are already great in getting a proportion of dog/cat lovers to adopt unwanted pets. We support them (but we don't specifically brag when we do, we are humble), and we adopted dogs to the maximum allowable legal limit too. </p>

<p>But there is always that proportion of the population that want to buy dogs from puppies and would never adopt. There are many reasons they have such as the puppies look cuter, they don't want a "second-hand" dog, they think dog training has to begin from puppies stage(not exactly true).  </p>

<p>So how can we help?
We love our animals so much that we feel the pain to part with them. They are like our family member, our kids. But the conditions of the puppies are still deplorable and nobody is taking the matters seriously enough. Nobody did. As difficult it is for our conscience and our emotions, we decided to enter the puppy trade. </p>

<p>We want the puppies to have the best that they can possibly get. Clean air, clean water, clean space, huge space, a friend to play with, great nutrition, best veterinary treatments and checks... After all, we really really love our animals.</p>

<p>Does it all cost more time,  more effort and more money?  Yup!</p>

<p>As a customer buying a puppy, you are bringing home a family member. You will fall in love and will do whatever it takes to protect your puppy and give your very best for his/her benefit. You want your puppy to be clean and healthy, and your puppy deserves that. Cos your puppy is bringing much joy and happiness into your family. That is invaluable. 

We want you to continue giving the same or even higher comforts and love to the puppies. Every puppy that falls into our hands for the brief periods that they spent with us, we love them. We feel a duty and an obligation as human beings to direct the puppies into a loving home.

Not sure about how to take care of the puppy? That's fine, we will help you freely. Just like our grooming customers, we give great advice for free. Where there is a will, there is a way.  We just hope that you love your puppy. Usually there is always at least one solution to every problem. Gotta be optimist. Dogs require us to be positive!</p>



  </div>
</body>
</html>
