<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sql Error</title>
  
    <script src="{{ url_for('static', filename='a076d05399.js')}}"></script>

    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
     <script src="//code.jquery.com/jquery.min.js"></script>
    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">


</head>

{% extends "navbarfooter.html" %}
{% set active_page = "about" %}
{% block content %}
<body>


<div>
</br>

<h1 style="text-align:center;padding-top:140px;padding-bottom:140px">
<i class="fas fa-info-circle"></i> Unable to connect to SQL database. Retry connection!</h1>
</div>
{% endblock %}
</body>

</html>

 <!-- JavaScript Libraries -->
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
 <script src="/static/lib/easing/easing.min.js"></script>
 <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
 <script src="/static/lib/waypoints/waypoints.min.js"></script>
 <script src="/static/lib/counterup/counterup.min.js"></script>

 <!-- Contact Javascript File -->
 <script src="/static/mail/jqBootstrapValidation.min.js"></script>
 <script src="/static/mail/contact.js"></script>

 <!-- Template Javascript -->
 <script src="/static/js/main.js"></script>