*.exit[[:space:]]status[[:space:]]128[[:space:]]fatal:[[:space:]]bad[[:space:]]revision[[:space:]]'master' filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
